<h2>Yeni Partner Ekle</h2>
<div class="col-md-6">
    <div class="alert alert-info">
        Yeni partner oluşturduğunuzda sisteme giriş şifretsi partnerin eposta adresine gönderilecektir.
    </div>
    <%= render 'form' %>
</div>